.slider {
  background-image: url("../images/slider-backgr.png");
  min-height:600px;
  .sliderContent {
    .slide-1 {
      .row{
        .pic {
          text-align: center;
          display: none;
          img {
            width:100%;
          }
        }
        .form {
          float:right;
          margin-top: 60px;
          display: none;
          input:last-child {
            //margin-top:35px;
          }

          //h1{
          //  font-size: 30px;
          //  font-weight: bold;
          //  text-transform: uppercase;
          //}
          //h2{
          //  font-size: 46px;
          //  font-weight: bold;
          //  text-transform: uppercase;
          //  color:#51af5b;
          //}
          //input {
          //  width:100%;
          //  background-color: transparent;
          //  border:none;
          //  border-bottom :1px solid #959595;
          //  color: #959595;
          //  padding: 18px 0;
          //  margin: 8px 0;
          //  &:last-child {
          //    border:none;
          //    border-radius: 30px;
          //    background-color: #51af5b;
          //    color:white;
          //    width:240px;
          //    height:60px;
          //    margin: 22px 0;
          //    text-transform: uppercase;
          //  }
          //}
        }
      }
    }

  }
}

.about {
  background-color: #ffcb3d;
  text-align: center;
  padding:80px 0;
  position: relative;

  .text-over {
    position: relative;
    z-index: 10;
    opacity:0;
    transition: opacity .5s ease-in;
    &.active {
      opacity: 1;
    }
    //display: none;
    h3 {
      color: #51af5b;
      font-size: 22px;
      text-shadow: 0px 2px 2px white;
      text-transform: uppercase;
    }
    p {
      max-width: 840px;
      margin: 20px auto 0;
      font-size: 14px;
      line-height: 26px;
      &:last-child {
        color:white;
      }
    }
    a {
      display: block;
      border:none;
      border-radius: 30px;
      background-color: #51af5b;
      color:white;
      width:240px;
      line-height:60px;
      text-transform: uppercase;
      margin:30px auto;
    }
  }
  img {
    position: absolute;
    top:0;
  &:first-child {
    left:0;
  }
    &:last-child {
      right:0;
    }
  }

}

.profits {
  padding: 80px 0;
  h3 {
    color: #51af5b;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
    text-shadow: 1px 1px 1px yellow;
  }
  .pic {
    img {
      width:100%;
    }
  }
  .description {
    h4 {
      text-transform: uppercase;
      color: #51af5b;
      font-weight: bold;
      margin: 20px 0;
      font-family: $alfaslabone-regular;
    }
    p {
      margin: 10px 0;
      &.gray {
        color:gray;
        margin: 10px 0;
      }
      &.green {
        color:#51af5b;
        margin: 20px 0;

      }
    }
    a {
      width:300px;
      line-height: 60px;
      display: block;
      background-color: #b9ec5f;
      border-radius: 30px;
      text-align: center;
      color:white;
      text-transform: uppercase;
      position: relative;
      margin:10px 0 20px;
      &:after {
        position: absolute;
        content:"";
        height:60px;
        width:100%;
        background-image: url("../images/ARROW.png");
        background-size: contain;
        background-repeat: no-repeat;
        top:80px;
        left:-60px;
      }
    }

  }
  .counters {
    margin-top: 110px;
    p{
      text-transform: uppercase;
      text-align: center;
      color: #51af5b;
      margin:15px 0;
    }
  }
}
.whatWillGet {
  h3 {
    padding-bottom: 0px;
  }
  padding: 80px 0;
  background-image: url("../images/worldmap.png");
  p {
    margin: 14px;
  }
  a {
    margin: 0 auto;
  }
  .row {
    div {
      margin: 25px 0;
      text-align: center;
      p {
        margin-top: 25px;
      }

    }
  }
}
.testimonies {
  padding: 80px 0 150px;
  .commentsSlider {
    .slideElement {
      text-align: center;
      .icon {
        margin: 25px auto;
      }
      .portret {
        margin: 10px auto;
      }
      .comment {
        margin: 15px auto;
        padding:0 15px;
        color: #666666;
        font-style: italic;
      }
      .name {
        font-weight: bold;
        font-size: 16px;
        margin: 8px 0;
      }
      .workPosition {
        font-size: 14px;
        color: #666666;
      }
    }
  }
}
.formFooter {
  text-align: center;
  background-color: #666666;
  padding:80px 20px 40px;
  h5 {
    color:white;
    text-transform: uppercase;
    font-size: 22px;
    margin: 0 0 25px;
    font-family: $alfaslabone-regular;
  }
  form {
    width:100%;
    max-width: 660px;

    margin: 0 auto;
    input {
      color:white;
      &:last-child {
        margin: 42px 0;
      }
      &::-webkit-input-placeholder {color:white;}
      &::-moz-placeholder          {color:white;}/* Firefox 19+ */
      &:-moz-placeholder           {color:white;}/* Firefox 18- */
      &:-ms-input-placeholder      {color:white;}
    }
  }
}