header {
  width: 100%;
  background-color: #51af5b;
  position: relative;
  height: 60px;
  .logo-wr {
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10px;
    position: relative;
    .navbar {
      background-color: #51af5b;
      border:none;
      border-radius: 20px;
      margin:0;
      li {
        a{
          color:white;
          text-transform: uppercase;
        }
        &:last-child a {
          font-family: $aleo-bold;
        }
      }
    }
  }
  .colorBlocks {
    .color {
      height:100%;
      transform: skew(-30deg);
      position: absolute;
      left: -30px;
    }
    .green {
      width: 33%;
      background-color: #b3e55d;
    }
    .yellow {
      width: 32%;
      background-color: #ffee31;
    }
    .orange {
      transform: skew(-30deg);
      width: 31%;
      background-color: #ffcb3d;
    }

  }

}